<h1>Login</h1> <%# pagina de login%>

<% if @message !=nil%> <%# verifica a mensagem enviada da controladora%>
<% if sucess_message @message, @check %>
<%= content_tag(:p , @message, :id => 'good_token') %></br>
<% else %>
<%= content_tag(:p , @message, :id => 'bad_token') %></br>
<% end %>
<% end %>

<% if cookies[:login].nil?%> <%# verifica se o usuario esta logado%>
<%= render 'login_form'%> <%# caso nao esteja, imprime o formulario de login%>
<% else%> <%# caso esteja cria um link para que o usuario possa deslogar%>
<%= link_to "Logout", :controller => 'autenticacao', :action => 'logout'%>
<% end%>

<a href='/'> Página Inicial </a> 