<h1>Athene, a mais poderosa plataforma livre de vídeos</h1>
<h6> modestidade é tudo</h6>
<br>



<h2>Últimos vídeos</h2>
<% #raise "lista nao eh nula" unless @lista != nil%>
<% if @lista.nil? || @lista.empty? %>
  <%="Nenhum video encontrado"%>
<% else %>
  <% @lista&.each do |video| %>
    <%v = '/videos/'+video.id.to_s%>
	<h3><a href=<%=v%>> <%= video.title%></a>
	<br></h3>
  <% end %>
<% end %>