<%if !@notice.nil?%>
<div id='notice'><%= @notice %></div>
<% end %>
<% if !@video.nil? %>
<h2 id='recomendados'>Videos recomendados</h2>
<%= video_tag @video.file_path.gsub("#{Rails.root}/public",''), width:640, height:480,controls: true %>
<h2><%= @video.title %></h2>
<p><%= @video.description %></p>
<h3>Comentários</h3>
<% else %>
<h2>Video indefinido</h2>
<% end %>