// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notify{
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-raidius: 5px;
	padding: 10px;
	background-color: #c3ffc6;
}